<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" lang="en"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div layout:fragment="content" class="container">
    <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#addModal">Dodaj novog
        doktora
    </button>

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form method="post" th:action="@{/doktori}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Novi doktor</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="mb-3 form-group">
                            <label for="firstName" class="col-form-label">Ime:</label>
                            <input placeholder="ime" type="text" class="form-control" id="firstName" name="firstName"
                                   required>
                        </div>

                        <div class="mb-3 form-group">
                            <label for="lastName" class="col-form-label">Prezime:</label>
                            <input placeholder="prezime" type="text" class="form-control" id="lastName" name="lastName"
                                   required>
                        </div>

                        <div class="mb-3 form-group">
                            <label for="email" class="col-form-label">Email:</label>
                            <input placeholder="email" type="text" class="form-control" id="email" name="email"
                                   required>
                        </div>
                        <label class="form-check-label">Spol </label>
                        <div class="form-check form-check-inline mb-3">
                            <input class="form-check-input" type="radio"
                                   name="gender" id="femaleGender"
                                   value="Z" checked/>
                            <label class="form-check-label" for="femaleGender">Ž</label>
                        </div>

                        <div class="form-check form-check-inline mb-3">
                            <input class="form-check-input" type="radio"
                                   name="gender" id="maleGender"
                                   value="M"/>
                            <label class="form-check-label" for="maleGender">M</label>
                        </div>
                        <div class="form-group mb-3">
                            <input placeholder="Datum rođenja" type="text"
                                   onfocus="(this.type = 'date')"
                                   id="birthDay"
                                   class="form-control" required/>
                        </div>
                        <div class="mb-3 form-group">
                            <label for="graduatedAt" class="col-form-label">Diplomirao:</label>
                            <input placeholder="sveučilište" type="text" class="form-control" id="graduatedAt"
                                   name="graduationUniversity" required>
                        </div>

                        <div class="mb-3 form-group">
                            <label for="graduationYear" class="col-form-label">Godina:</label>
                            <input placeholder="godina završetka studija" type="number" min="1950" max="2099" step="1"
                                   value="2016" class="form-control"
                                   id="graduationYear" name="graduationYear" required>
                        </div>

                        <div class="mb-3 form-group">
                            <label for="specialization" class="col-form-label">Specijalizacija:</label>
                            <input placeholder="Npr. kirurg...Polje nije obavezno" type="text" class="form-control"
                                   id="specialization" name="specialization">
                        </div>

                        <div class="mb-3 form-group">
                            <label for="specializationYear" class="col-form-label">Godina specijalizacije:</label>
                            <input placeholder="Specijalizirao godine...Polje nije obavezno" type="number" min="1950"
                                   max="2099" step="1" value="2016"
                                   class="form-control"
                                   id="specializationYear" name="specializationYear">
                        </div>

                        <div class="mb-3 form-group">
                            <label for="password" class="col-form-label">Privremena lozinka:</label>
                            <input placeholder="Unesite privremenu lozinku za doktora" type="password"
                                   class="form-control"
                                   id="password" name="password" required>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
                        <button type="submit" class="btn btn-primary">Spremi</button>
                    </div>

                </div>

            </div>
        </form>
    </div>
    <div class="modal" tabindex="-1" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Obriši doktora</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Jeste li sigurni da želite obrisati ovaj zapis?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ne</button>
                    <a href="" type="button" class="btn btn-danger" id="delHref">Da, obriši</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-5" th:switch="${doctors}">
        <div class="col-md">
            <div class="table-responsive-md">
                <table class="table rounded rounded-3 overflow-hidden">
                    <thead>
                    <tr>
                        <th scope="col">Ime</th>
                        <th scope="col">Prezime</th>
                        <th scope="col">Email</th>
                        <th scope="col">Grad</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="doctor : ${doctors.page}">
                        <td th:text="${doctor.firstName}"></td>
                        <td th:text="${doctor.lastName}"></td>
                        <td th:text="${doctor.email}"></td>
                        <td th:text="${doctor.city}"></td>
                        <td>
                            <a class="btn btn-success" style="font-size: 12px;"><i class="fa-solid fa-user"></i></a>
                            <a th:href="@{/doktor(id=${doctor.id})}" class="btn btn-warning edit-user"
                               style="font-size: 12px"><i
                                    class="fas fa-user-edit"></i></a>
                            <a th:href="@{/doktor/obrisi(id=${doctor.id})}" class="btn btn-danger delete-user"
                               style="font-size: 12px"><i class="fas fa-user-times"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation" class="paging">
                    <ul class="pagination" th:if="${doctors.page.totalPages > 1}">
                        <li class="page-item" th:classappend="${!doctors.paging.isPrevEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'/doktori?stranica=' + ${doctors.paging.pageNumber - 1}}"
                               tabindex="-1">Prethodna</a>
                        </li>
                        <th:block th:each="item : ${doctors.paging.getItems()}">
                            <li class="page-item"
                                th:classappend="${item.index == doctors.paging.pageNumber? 'active' : ''}"
                                th:if="${item.pageItemType.name() == 'PAGE'}">
                                <a class="page-link" th:href="@{'/doktori?stranica=' + ${item.index}}"
                                   th:text="${item.index}"></a>
                            </li>
                            <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                <a class="page-link" href="#">...</a>
                            </li>
                        </th:block>
                        <li class="page-item" th:classappend="${!doctors.paging.isNextEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'/doktori?stranica=' + ${doctors.paging.pageNumber + 1}}">Sljedeća</a>
                        </li>
                    </ul>
                </nav>
                <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
                <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>