<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/user-profile.css">
    <style>
        .error-msg {
            color: red;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="container rounded bg-white mt-5 mb-5">
        <form method="post" action="#" th:action="@{/racun}" th:object="${user}" autocomplete="off">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                            class="rounded-circle mt-5" width="150px"
                            src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                            class="font-weight-bold" th:text="*{email}"></span><span
                            class="text-black-50" th:text="*{birthDay}"></span>
                        <span class="font-weight-bold"></span>
                    </div>
                </div>
                <div class="col-md-9 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Postavke računa</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Ime</label><input type="text"
                                                                                          class="form-control"
                                                                                          placeholder="Ime"
                                                                                          th:field="*{firstName}"/>
                                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                      class="error-msg"></span>

                            </div>

                            <div class="col-md-6"><label class="labels">Prezime</label><input type="text"
                                                                                              class="form-control"
                                                                                              th:field="*{lastName}"
                                                                                              placeholder="Prezime"/>
                                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                      class="error-msg"></span>
                            </div>

                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Broj telefona</label><input type="text"
                                                                                                    class="form-control"
                                                                                                    placeholder="Broj telefona"
                                                                                                    th:field="*{phoneNumber}"/>
                                <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                                      class="error-msg"></span>

                            </div>

                            <div class="col-md-6"><label class="labels">Grad</label><input type="text"
                                                                                           class="form-control"
                                                                                           placeholder="Grad"
                                                                                           th:field="*{city}"/>
                                <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="error-msg"></span>

                            </div>
                            <div class="col-md-6"><label class="labels">Adresa</label><input type="text"
                                                                                             class="form-control"
                                                                                             placeholder="Adresa"
                                                                                             th:field="*{address}"/>
                                <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                                      class="error-msg"></span>

                            </div>

                            <div class="col-md-6"><label class="labels">Poštanski broj</label><input type="text"
                                                                                                     class="form-control"
                                                                                                     placeholder="Poštanski broj"
                                                                                                     th:field="*{postalCode}"/>
                                <span th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"
                                      class="error-msg"></span>

                            </div>

                            <div sec:authorize="hasAuthority('PATIENT')" class="col-md-6"><label
                                    class="labels">JMBG</label><input type="text"
                                                                      class="form-control"
                                                                      placeholder="JMBG"
                                                                      th:field="*{jmbg}"/>
                                <span th:if="${#fields.hasErrors('jmbg')}" th:errors="*{jmbg}" class="error-msg"></span>
                            </div>

                            <div sec:authorize="hasAuthority('PATIENT')" class="col-md-2"><label class="labels">Krvna
                                grupa</label>
                                <select th:field="*{bloodType}" class="form-select" id="dropDownList">
                                    <option th:value="'A'" th:text="'A'"></option>
                                    <option th:value="'B'" th:text="'B'"></option>
                                    <option th:value="'AB'" th:text="'AB'"></option>
                                    <option th:value="'0'" th:text="'0'"></option>
                                </select>
                            </div>

                            <div sec:authorize="hasAuthority('DOCTOR')">
                                <hr class="mt-5 mb-5">
                                <div class="row mt-2">
                                    <div class="col-md-6"><label class="labels">Sveučilište</label><input type="text"
                                                                                                          class="form-control"
                                                                                                          placeholder="Diplomirao na sveučilištu"
                                                                                                          th:field="*{graduationUniversity}"/>
                                        <span th:if="${#fields.hasErrors('graduationUniversity')}"
                                              th:errors="*{graduationUniversity}"
                                              class="error-msg"></span>

                                    </div>

                                    <div class="col-md-6"><label class="labels">Godina završetka studija</label><input
                                            type="text"
                                            class="form-control"
                                            placeholder="Godina završetka studija"
                                            th:field="*{graduationYear}"/>
                                        <span th:if="${#fields.hasErrors('graduationYear')}"
                                              th:errors="*{graduationYear}"
                                              class="error-msg"></span>

                                    </div>

                                    <div class="col-md-6"><label class="labels">Specijalizacija</label><input
                                            type="text"
                                            class="form-control"
                                            placeholder="Završena specijalizacija"
                                            th:field="*{specialization}"/>
                                        <span th:if="${#fields.hasErrors('specialization')}"
                                              th:errors="*{specialization}"
                                              class="error-msg"></span>

                                    </div>

                                    <div class="col-md-6"><label class="labels">Godina završetka
                                        specijalizacije</label><input
                                            type="text"
                                            class="form-control"
                                            placeholder="Godina završetka specijalizacije"
                                            th:field="*{specializationYear}"/>
                                        <span th:if="${#fields.hasErrors('specializationYear')}"
                                              th:errors="*{specializationYear}"
                                              class="error-msg"></span>

                                    </div>

                                </div>
                            </div>
                            <div class="mt-5 text-center">
                                <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                            </div>

                        </div>
                        <div class="alert alert-primary mt-2" role="alert" th:text="${success}"
                             th:if="${success}"></div>
                        <div class="alert alert-danger mt-2" role="alert" th:text="${error}"
                             th:if="${error}"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>